@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Lobster&family=Montserrat:ital@1&family=Rubik+Wet+Paint&family=Tilt+Prism&display=swap');

body{
    /* background-color: #335454; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url(assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid #b8b8b8; */
    border: 2px solid #000000;
    border-radius: 10px;
    width: 400px;
    margin-right: 100px;
    /* background-color: #e7e7e7; */
    background-color: #457373;
    /* box-shadow: 0 10px 40px #bebebe; */
}


.numKeys{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    font-size: 35px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin: 20px;
    border: none;
    /* box-shadow: 0 10px 10px #858585; */
    box-shadow: inset -5px -5px 12px #00000024, inset -5px -5px 12px #00000024;
}

.btn:hover{
    background-color: #dedede;
    transform: scale(1.06);
    transition: 0.3s;
}

#equalBtn{
    cursor: pointer;
    font-size: 35px;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    margin: 20px;
    background-color: #ff8902;
    color: #fff;
    border: none;
    /* box-shadow: 0 10px 10px #858585; */
    box-shadow: inset -5px -5px 12px #00000024, inset -5px -5px 12px #00000024;
}

#equalBtn:hover{
    background-color: #e57c05;
    transform: scale(1.06);
    transition: 0.3s;
}

#clearBtn{
    cursor: pointer;
    font-size: 35px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin: 20px;
    background-color: #ff3d02;
    color: #fff;
    border: none;
    /* box-shadow: 0 10px 10px #858585; */
    box-shadow: inset -5px -5px 12px #00000024, inset -5px -5px 12px #00000024;
}

#clearBtn:hover{
    background-color: #d43404;
    transform: scale(1.06);
    transition: 0.3s;
}

#backBtn{
    cursor: pointer;
    font-size: 35px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin: 20px;
    background-color: #ffffff;
    border: none;
    /* box-shadow: 0 10px 10px #858585; */
    /* box-shadow: -5px -5px 12px #00000024; */
    box-shadow: inset -5px -5px 12px #00000024, inset -5px -5px 12px #00000024;
}

#backBtn:hover{
    background-color: #dedede;
    transform: scale(1.06);
    transition: 0.3s;
}

input::placeholder{
    color: #fff;
    opacity: 0.7;
}

#answer{
    width: 90%;
    height: 100px;
    margin-bottom: 5%;
    border-radius: 10px 10px 0 0;
    margin-top: 5%;
    box-shadow: inset -5px -5px 12px #00000024, inset -5px -5px 28px #00000024;
    padding: 10px;
    text-align: end;
    font-size: 45px;
    color: #ffffff;
    border: none;
    /* border-top: 2px solid #b8b8b8;
    border-left: 2px solid #b8b8b8; */
    /* font-family: 'Handjet', cursive; */
    background-color: #457373;
}

.historyBox{
    height: 600px;
    width: 413px;
    background-color: #457373;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid #000000;
    border-radius: 10px;
    color: #fff;
    /* padding: 15px; */
}

.historyBox>h1{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

#recentHistory{
    padding: 10px;
    font-size: 20px;
}